CLIENT_ID=yourRedditAppClientID
CLIENT_SECRET=yourRedditAppSecret
REDDIT_USER=yourRedditUsername
REDDIT_PASS=yourRedditPassword

REDDIT_SUBREDDIT=botSubredditName
REDDIT_MANAGER=managerUsername

DB_USER=dbUsername
DB_HOST=dbHost
DB_DATABASE=dbDatabase
DB_PASSWORD=dePassword
DB_PORT=5432

CRYPTO_PASS=yourSaltToUniquelyEncryptSeeds
MIN_ARKTOSHI_VALUE=20000000

ADDRESS_ARKTIPPR=Aa74QyqAFBsevReox3rMWy6FhMUyJVGPop
ADDRESS_ARKSTICKERS=ARmprw59opHaWdsFGfnzSkBuu28Cnoug6m

ARKSTICKERS_PRICE=200000000
ARKSTICKERS_USERNAME=doubled1c3